@if (!Request.IsAuthenticated)
{
    <div>
        <ul class="nav nav-list">
            <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-home"></i> Home </a></li>
            <li><a href="@Url.Action("Register", "Account", new { @id = "registerLink" })"><i class="glyphicon glyphicon-leaf"></i> S'inscrire </a></li>
            <li><a href="@Url.Action("Contact", "Home")"><i class="glyphicon glyphicon-envelope"></i> Contact </a></li>
            <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-star-empty"></i>  Palmares </a></li>
        </ul>
    </div>
}
else
{
    <div>
        <ul class="nav nav-list">
            <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-home"></i> Home </a></li>
            <li><a href="@Url.Action("Index", "Exercice")"><i class="glyphicon glyphicon-book"></i> Exercice </a></li>
            <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-star-empty"></i>  Palmares </a></li>
        </ul>
    </div>
}
