@model SiteSandBox.Models.LocalModel
<h3>Modifier le mot de passe</h3>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { id = "ModifPass" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        <div class="input-group col-sm-8 col-sm-offset-1">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            @Html.PasswordFor(m => m.LocalPassWord.OldPassword, new { @type = "password", @class = "form-control", @placeholder = "OldPassword" })
            @Html.PasswordFor(m => m.LocalPassWord.NewPassword, new { @type = "password", @class = "form-control", @placeholder = "NewPassword" })
            @Html.PasswordFor(m => m.LocalPassWord.ConfirmPassword, new { @type = "password", @class = "form-control", @placeholder = "Confirm Password" })
        </div>
        <a class="btn btn-primary col-sm-offset-1" href="javascript:document.getElementById('ModifPass').submit()">Modifier le mot de passe</a>
    </div>
}

