@if (!Request.IsAuthenticated)
{
    <div>
        <ul class="nav nav-list">
            <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-home"></i> Home </a></li>
            <li><a href="@Url.Action("Register", "Account", new { @id = "registerLink" })"><i class="glyphicon glyphicon-leaf"></i> S'inscrire </a></li>
            <li><a href="@Url.Action("Contact", "Home")"><i class="glyphicon glyphicon-envelope"></i> Contact </a></li>
            <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-star-empty"></i>  Palmares </a></li>
        </ul>
    </div>
}
else
{
    <div>
        @if (ViewBag.LastExercice > 0)
        {
            <div class="panel-group" id="accordion">
            <ul class="nav nav-list" id="colEdition">
                <li>
                    <a data-toggle="collapse" data-target="#coExo" data-parent="#accordion">
                        <i class="glyphicon glyphicon-home"></i> Exercices <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                </li>
            </ul>
            <div id="coExo" class="collapse">
                <ul class="nav nav-list clearfix">
                    @if (@ViewBag.PrevExercice >= 1)
                    {
                        <li><a href="@Url.Action("Details", "Exercice", new { id = @ViewBag.PrevExercice})"><i class="glyphicon glyphicon-arrow-left"></i> Exercice n°@ViewBag.PrevExercice</a></li>
                    }
                    <li><a href="@Url.Action("Details", "Exercice", new { id = @ViewBag.LastExercice})"><i class="glyphicon glyphicon-ok active"></i> Exercice n°@ViewBag.LastExercice</a></li>
                    @if (@ViewBag.NextExercice >= 1)
                    {
                        <li><a href="@Url.Action("Details", "Exercice", new { id = @ViewBag.NextExercice})"><i class="glyphicon glyphicon-arrow-right"></i> Exercice n°@ViewBag.NextExercice</a></li>
                    }
                    
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index","exercice")"><i class="glyphicon glyphicon-list"></i> Retour a la liste</a></li>
                </ul>
            </div>
        </div>
            <ul class="nav nav-list">
            <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-home"></i> Home </a></li>
            <li><a href="@Url.Action("Index", "Exercice")"><i class="glyphicon glyphicon-book"></i> Exercices </a></li>
            @if (ViewBag.LastExercice > 0)
            {
                <li><a href="@Url.Action("Details", "Exercice", new { id = ViewBag.LastExercice })"><i class="glyphicon glyphicon-book"></i> Exercice n° @ViewBag.LastExercice </a></li>
            }
            <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-star-empty"></i>  Palmares </a></li>
        </ul>
        }
        else
        {
            <ul class="nav nav-list">
                <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-home"></i> Home </a></li>
                <li><a href="@Url.Action("Index", "Exercice")"><i class="glyphicon glyphicon-book"></i> Exercices </a></li>
            </ul>
        }
        
    </div>
}
