@model IEnumerable<SiteSandBox.Models.Exercice>

@{
    ViewBag.Title = "Index";
}
@section SideBar {
    @Html.Partial("_SideBarPartial")
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sujet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theme.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sujet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theme.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExerciceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExerciceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExerciceId })
        </td>
    </tr>
}

</table>
